<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    <form method="post">
        <label for="name">Name</label>
    <input type="text" id="name" name="hero" placeholder="Enter your name">
        <button type="submit">Submit</button>
    </form>
</body> 
<!-- <script>
    const input = document.getElementById('name');
    console.log(input
    )
    input.addEventListener('keypress',(event)=>{
        console.log(event.target.value)
    })
</script> -->
</html>